<div class="noprint">
  <nav class="w-80 noprint">
    <div class="row-parent space-at-bottom">
      <a class="link column" href="/">Home</a>
    </div>
    {% if hideNavBar != true %}
    <div class="row-parent">
      <a class="link column" href="/books/">Books</a>
      <a class="link column" href="/book-series/">Book series</a>
      <a class="link column" href="/hobby/">Hobby</a>
    </div>
    <div class="row-parent">
      <a class="link column" href="/notes/">Notes</a>
      <a class="link column" href="/linux/">Linux tips</a>
    </div>
    {% endif %}
  </nav>
</div>
