---
title: m4 Home
hideNavBar: true
---
{% extends "layouts/body.html.j2" %}
{% block content %}
{% import "layouts/macros.html.j2" as m %}

<div class="row-parent">
  <div class="column">
    <div class="mb-3">
      {{ m.linkblock(sites) }}
    </div>
  </div>
  {#
  <div class="column">
    <div class="mb-3">
      {{ m.linkblock(local) }}
    </div>
  </div>
  #}
</div>

{% endblock %}
